[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/bundle/rename"]
	path = vim/bundle/rename
	url = git@github.com:danro/rename.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = git@github.com:tsaleh/vim-align.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/golang"]
	path = vim/bundle/golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "vim/bundle/colorthemes"]
	path = vim/bundle/colorthemes
	url = git@github.com:noah/vim256-color.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git@github.com:vim-scripts/YankRing.vim.git
[submodule "vim/bundle/vinegar"]
	path = vim/bundle/vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "vim/bundle/cmake"]
	path = vim/bundle/cmake
	url = git@github.com:jalcine/cmake.vim.git
[submodule "vim/bundle/simplenote"]
	path = vim/bundle/simplenote
	url = git@github.com:mrtazz/simplenote.vim.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar/
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/go"]
	path = vim/bundle/go
	url = https://github.com/fsouza/go.vim.git
[submodule "vim/bundle/vim-jsbeautify"]
	path = vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
